In [19]:
import pandas as pd
import requests
import urllib3

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [11]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,29.7348,8.715,29636
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,26.9596,8.687,22385
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.0310,8.570,13540
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,16.8997,8.566,17061
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.6829,8.554,9702

In [24]:

df = pd.DataFrame()

In [25]:
df

Empty DataFrame
Columns: []
Index: []

In [33]:

for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
 df = pd.concat([df, temp_df], ignore_index=True)

IndentationError: unindent does not match any outer indentation level (<string>, line 4)

In [9]:
df.shape

(0, 0)

In [10]:
df.to_csv('movies.csv')